.banner {
  align-items: flex-start;
  background-color: var(--blue-lighter);
  border: 1px solid var(--gray);
  border-radius: 1rem;
  display: flex;
  gap: 0.75rem;
  overflow: hidden;
  padding: 0.75rem 1rem;
  width: 100%;
}

.banner__title {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 1rem;
  justify-content: flex-start;
}

.banner__title .icon {
  border-color: #0033ff;
}

.banner__title span {
  color: #0033ff;
  font-size: 1.25rem;
  font-weight: 700;
}

.banner__content {
  flex-grow: 1;
}

.banner__message {
  margin-bottom: 0.75rem;
}

.banner__message p {
  font-size: 1rem;
  font-weight: 700;
}

.banner__button {
  background-color: transparent;
  border: none;
  gap: 0.75rem;
}

.banner__button span {
  color: var(--primary);
  font-weight: 700;
}

.banner__button .icon {
  border-color: var(--primary);
}

@media (min-width: 768px) {
  .banner {
    align-items: center;
    padding: 0.75rem 1.5rem;
  }

  .banner__content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .banner__message {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}
